<section id="wallet" class="container">
  <picture>
    <source
      srcset="
        /img/mob/wallet/mob-wallet.webp    1x,
        /img/mob/wallet/mob-wallet.webp-x2 2x
      "
      type="image/webp"
      media="(max-width: 833px)"
    />
    <source
      srcset="
        /img/tab/wallet/tab-wallet.webp    1x,
        /img/tab/wallet/tab-wallet.webp-x2 2x
      "
      type="image/webp"
      media="(max-width: 1279px)"
    />
    <source
      srcset="
        /img/pc/wallet/pc-wallet.webp    1x,
        /img/pc/wallet/pc-wallet.webp-x2 2x
      "
      type="image/webp"
      media="(min-width: 1280px)"
    />
    <source
      srcset="
        /img/mob/wallet/mob-wallet.png    1x,
        /img/mob/wallet/mob-wallet.png-x2 2x
      "
      type="image/png"
      media="(max-width: 833px)"
    />
    <source
      srcset="
        /img/tab/wallet/tab-wallet.png    1x,
        /img/tab/wallet/tab-wallet.png-x2 2x
      "
      type="image/png"
      media="(max-width: 1279px)"
    />
    <source
      srcset="
        /img/pc/wallet/pc-wallet.png    1x,
        /img/pc/wallet/pc-wallet.png-x2 2x
      "
      type="image/png"
      media="(min-width: 1280px)"
    />
    <img src="/img/mob/wallet/mob-wallet.png" alt="Space ship in open space" />
  </picture>
  <div class="wallet-div">
    <h1 class="wallet-h1">Connect Wallet</h1>
    <p class="wallet-p">
      Choose a wallet you want to connect. There are several wallet providers.
    </p>
    <ul class="wallet-ul">
      <li>
        <a class="wallet-a" href=""
          ><svg class="" width="33" height="32">
            <use xlink:href="/img/icons.svg#wallet-metamask"></use>
          </svg>
          Metamask</a
        >
      </li>
      <li>
        <a class="wallet-a" href="">
          <svg class="" width="33" height="32">
            <use xlink:href="/img/icons.svg#wallet-connect"></use>
          </svg>
          Wallet Connect</a
        >
      </li>
      <li>
        <a class="wallet-a" href=""
          ><svg class="" width="33" height="32">
            <use xlink:href="/img/icons.svg#wallet-coinbase"></use>
          </svg>
          Coinbase</a
        >
      </li>
    </ul>
  </div>
</section>
