<section id="created">
  <ul class="created-menu-list">
    <li class="created-menu-item">
      <button class="created-menu-btn created-padding-1" type="button">
        Created <span class="created-menu-span-number">302</span>
      </button>
    </li>
    <li class="created-menu-item">
      <button class="created-menu-btn created-padding-2" type="submit">
        Owned <span class="created-menu-span-number">64</span>
      </button>
    </li>
    <li class="created-menu-item">
      <button class="created-menu-btn created-padding-3" type="button">
        Collection <span class="created-menu-span-number">4</span>
      </button>
    </li>
  </ul>
  <div class="container">
    <div class="created-class">
      <div class="created-wrapper">
        <ul class="creater-carta-item">
          <li class="create-mob-item-one">
            <a href="./nft-page.html#more-from-artist" target="_self">
              <div>
                <picture>
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-1-1x-webp.webp 1x,
                      /img/pc/artist-page/created/pc-1-2x-webp.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-1-1x-webp.webp 1x,
                      /img/tab/artist-page/created/tab-1-2x-webp.webp 2x
                    "
                    media="(min-width: 834px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/mob/artist-page/created/mob-created-1-1x-webp.webp 1x,
                      /img/mob/artist-page/created/mob-created-1-2x-webp.webp 2x
                    "
                    media="(max-width: 833px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-1-1x-png.png 1x,
                      /img/pc/artist-page/created/pc-1-2x-png.png 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/png.png"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-1-1x-png.png 1x,
                      /img/tab/artist-page/created/tab-1-2x-png.png 2x
                    "
                    media="(min-width: 834px)"
                    type="image/png"
                  />
                  <source
                    srcset="
                      /img/mob/artist-page/created/mob-created-1-1x-png.png 1x,
                      /img/mob/artist-page/created/mob-created-1-2x-png.png 2x
                    "
                    media="(max-width: 833px)"
                    type="image/png"
                  />
                  <img
                    src="/img/mob/artist-page/created/mob-created-1-1x-png.png"
                    alt="Distant Galaxy"
                    class="created-img"
                  />
                </picture>
                <div class="created-information">
                  <div class="created-information-avatar">
                    <h3 class="created-pict-title">Distant Galaxy</h3>
                    <div class="created-avatar">
                      <picture>
                        <source
                          srcset="/img/mob/artist-page/created/avatar-webp.webp"
                          type="image/webp"
                        />
                        <img
                          src="/img/mob/artist-page/created/avatar-png.png"
                          alt="Avatar"
                          width="24"
                          height="24"
                          class="create-space-h4"
                        />
                      </picture>
                      <p class="space-p">Animakid</p>
                    </div>
                  </div>
                  <div class="created-price-bid">
                    <div class="created-price">
                      <p class="space-p created-price-p">Price</p>
                      <p class="space-p created-num-p">1.63 ETH</p>
                    </div>
                    <div class="created-bid">
                      <p class="space-p created-price-p">Highest Bid</p>
                      <p class="space-p created-num-p">0.33 wETH</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="create-mob-item-one">
            <a href="./nft-page.html#more-from-artist" target="_self">
              <div>
                <picture>
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-2-1x-webp.webp 1x,
                      /img/pc/artist-page/created/pc-2-2x-webp.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-2-1x-webp.webp 1x,
                      /img/tab/artist-page/created/tab-2-2x-webp.webp 2x
                    "
                    media="(min-width: 834px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/mob/artist-page/created/mob-created-2-1x-webp.webp 1x,
                      /img/mob/artist-page/created/mob-created-2-2x-webp.webp 2x
                    "
                    media="(max-width: 833px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-2-1x-png.png 1x,
                      /img/pc/artist-page/created/pc-2-2x-png.png 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/png.png"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-2-1x-png.png 1x,
                      /img/tab/artist-page/created/tab-2-2x-png.png 2x
                    "
                    media="(min-width: 834px)"
                    type="image/png"
                  />
                  <source
                    srcset="
                      /img/mob/artist-page/created/mob-created-2-1x-png.png 1x,
                      /img/mob/artist-page/created/mob-created-2-2x-png.png 2x
                    "
                    media="(max-width: 833px)"
                    type="image/png"
                  />
                  <img
                    src="/img/mob/artist-page/created/mob-created-2-1x-png.png"
                    alt="Life On Edena"
                    class="created-img"
                  />
                </picture>
                <div class="created-information">
                  <div class="created-information-avatar">
                    <h3 class="created-pict-title">Life On Edena</h3>
                    <div class="created-avatar">
                      <picture>
                        <source
                          srcset="/img/mob/artist-page/created/avatar-webp.webp"
                          type="image/webp" />
                        <img
                          src="/img/mob/artist-page/created/avatar-png.png"
                          alt="Avatar"
                          width="24"
                          height="24"
                          class="create-space-h4"
                      /></picture>
                      <p class="space-p">Animakid</p>
                    </div>
                  </div>
                  <div class="created-price-bid">
                    <div class="created-price">
                      <p class="space-p created-price-p">Price</p>
                      <p class="space-p created-num-p">1.63 ETH</p>
                    </div>
                    <div class="created-bid">
                      <p class="space-p created-price-p">Highest Bid</p>
                      <p class="space-p created-num-p">0.33 wETH</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="create-mob-item">
            <a href="./nft-page.html#more-from-artist" target="_self">
              <div>
                <picture>
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-3-1x-webp.webp 1x,
                      /img/pc/artist-page/created/pc-3-2x-webp.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-3-1x-webp.webp 1x,
                      /img/tab/artist-page/created/tab-3-2x-webp.webp 2x
                    "
                    media="(min-width: 834px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/mob/artist-page/created/mob-created-3-1x-webp.webp 1x,
                      /img/mob/artist-page/created/mob-created-3-2x-webp.webp 2x
                    "
                    media="(max-width: 833px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-3-1x-png.png 1x,
                      /img/pc/artist-page/created/pc-3-2x-png.png 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/png.png"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-3-1x-png.png 1x,
                      /img/tab/artist-page/created/tab-3-2x-png.png 2x
                    "
                    media="(min-width: 834px)"
                    type="image/png"
                  />
                  <source
                    srcset="
                      /img/mob/artist-page/created/mob-created-3-1x-png.png 1x,
                      /img/mob/artist-page/created/mob-created-3-2x-png.png 2x
                    "
                    media="(max-width: 833px)"
                    type="image/png"
                  />
                  <img
                    src="/img/mob/artist-page/created/mob-created-3-1x-png.png"
                    alt="AstroFiction"
                    class="created-img"
                  />
                </picture>

                <div class="created-information created-bottom">
                  <div class="created-information-avatar">
                    <h3 class="created-pict-title">AstroFiction</h3>
                    <div class="created-avatar">
                      <picture>
                        <source
                          srcset="/img/mob/artist-page/created/avatar-webp.webp"
                          type="image/webp" />
                        <img
                          src="/img/mob/artist-page/created/avatar-png.png"
                          alt="Avatar"
                          width="24"
                          height="24"
                          class="create-space-h4"
                      /></picture>
                      <p class="space-p">Animakid</p>
                    </div>
                  </div>
                  <div class="created-price-bid">
                    <div class="created-price">
                      <p class="space-p created-price-p">Price</p>
                      <p class="space-p created-num-p">1.63 ETH</p>
                    </div>
                    <div class="created-bid">
                      <p class="space-p created-price-p">Highest Bid</p>
                      <p class="space-p created-num-p">0.33 wETH</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="create-tablet">
            <a href="./nft-page.html#more-from-artist" target="_self">
              <div>
                <picture>
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-4-1x-webp.webp 1x,
                      /img/pc/artist-page/created/pc-4-2x-webp.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-4-1x-webp.webp 1x,
                      /img/tab/artist-page/created/tab-4-2x-webp.webp 2x
                    "
                    media="(min-width: 834px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-4-1x-png.png 1x,
                      /img/pc/artist-page/created/pc-4-2x-png.png 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/png.png"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-4-1x-png.png 1x,
                      /img/tab/artist-page/created/tab-4-2x-png.png 2x
                    "
                    media="(min-width: 834px)"
                    type="image/png"
                  />
                  <img
                    src="/img/tab/artist-page/created/tab-4-1x-png.png"
                    alt="CryptoCity"
                    class="created-img"
                  />
                </picture>

                <div class="created-information">
                  <div class="created-information-avatar">
                    <h3 class="created-pict-title">CryptoCity</h3>
                    <div class="created-avatar">
                      <picture>
                        <source
                          srcset="/img/mob/artist-page/created/avatar-webp.webp"
                          type="image/webp" />
                        <img
                          src="/img/mob/artist-page/created/avatar-png.png"
                          alt="Avatar"
                          width="24"
                          height="24"
                          class="create-space-h4"
                      /></picture>
                      <p class="space-p">Animakid</p>
                    </div>
                  </div>
                  <div class="created-price-bid">
                    <div class="created-price">
                      <p class="space-p created-price-p">Price</p>
                      <p class="space-p created-num-p">1.63 ETH</p>
                    </div>
                    <div class="created-bid">
                      <p class="space-p created-price-p">Highest Bid</p>
                      <p class="space-p created-num-p">0.33 wETH</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="create-tablet">
            <a href="./nft-page.html#more-from-artist" target="_self">
              <div>
                <picture>
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-5-1x-webp.webp 1x,
                      /img/pc/artist-page/created/pc-5-2x-webp.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-5-1x-webp.webp 1x,
                      /img/tab/artist-page/created/tab-5-2x-webp.webp 2x
                    "
                    media="(min-width: 834px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-5-1x-png.png 1x,
                      /img/pc/artist-page/created/pc-5-2x-png.png 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/png.png"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-5-1x-png.png 1x,
                      /img/tab/artist-page/created/tab-5-2x-png.png 2x
                    "
                    media="(min-width: 834px)"
                    type="image/png"
                  />
                  <img
                    src="/img/tab/artist-page/created/tab-5-1x-png.png"
                    alt="ColorfulDog 0524"
                    class="created-img"
                  />
                </picture>

                <div class="created-information">
                  <div class="created-information-avatar">
                    <h3 class="created-pict-title">ColorfulDog 0524</h3>
                    <div class="created-avatar">
                      <picture>
                        <source
                          srcset="/img/mob/artist-page/created/avatar-webp.webp"
                          type="image/webp" />
                        <img
                          src="/img/mob/artist-page/created/avatar-png.png"
                          alt="Avatar"
                          width="24"
                          height="24"
                          class="create-space-h4"
                      /></picture>
                      <p class="space-p">Animakid</p>
                    </div>
                  </div>
                  <div class="created-price-bid">
                    <div class="created-price">
                      <p class="space-p created-price-p">Price</p>
                      <p class="space-p created-num-p">1.63 ETH</p>
                    </div>
                    <div class="created-bid">
                      <p class="space-p created-price-p">Highest Bid</p>
                      <p class="space-p created-num-p">0.33 wETH</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="create-tablet">
            <a href="./nft-page.html#more-from-artist" target="_self">
              <div>
                <picture>
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-6-1x-webp.webp 1x,
                      /img/pc/artist-page/created/pc-6-2x-webp.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-6-1x-webp.webp 1x,
                      /img/tab/artist-page/created/tab-6-2x-webp.webp 2x
                    "
                    media="(min-width: 834px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-6-1x-png.png 1x,
                      /img/pc/artist-page/created/pc-6-2x-png.png 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/png.png"
                  />
                  <source
                    srcset="
                      /img/tab/artist-page/created/tab-6-1x-png.png 1x,
                      /img/tab/artist-page/created/tab-6-2x-png.png 2x
                    "
                    media="(min-width: 834px)"
                    type="image/png"
                  />
                  <img
                    src="/img/tab/artist-page/created/tab-6-1x-png.png"
                    alt="Space Tales"
                    class="created-img"
                  />
                </picture>
                <div class="created-information">
                  <div class="created-information-avatar">
                    <h3 class="created-pict-title">Space Tales</h3>
                    <div class="created-avatar">
                      <picture>
                        <source
                          srcset="/img/mob/artist-page/created/avatar-webp.webp"
                          type="image/webp" />
                        <img
                          src="/img/mob/artist-page/created/avatar-png.png"
                          alt="Avatar"
                          width="24"
                          height="24"
                          class="create-space-h4"
                      /></picture>
                      <p class="space-p">Animakid</p>
                    </div>
                  </div>
                  <div class="created-price-bid">
                    <div class="created-price">
                      <p class="space-p created-price-p">Price</p>
                      <p class="space-p created-num-p">1.63 ETH</p>
                    </div>
                    <div class="created-bid">
                      <p class="space-p created-price-p">Highest Bid</p>
                      <p class="space-p created-num-p">0.33 wETH</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="create-pc">
            <a href="./nft-page.html#more-from-artist" target="_self">
              <div>
                <picture>
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-7-1x-webp.webp 1x,
                      /img/pc/artist-page/created/pc-7-2x-webp.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-7-1x-png.png 1x,
                      /img/pc/artist-page/created/pc-7-2x-png.png 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/png.png"
                  />
                  <img
                    src="/img/pc/artist-page/created/pc-7-1x-png.png"
                    alt="Cherry Blossom Girl 037"
                    class="created-img"
                  />
                </picture>

                <div class="created-information">
                  <div class="created-information-avatar">
                    <h3 class="created-pict-title">Cherry Blossom Girl 037</h3>
                    <div class="created-avatar">
                      <picture>
                        <source
                          srcset="/img/mob/artist-page/created/avatar-webp.webp"
                          type="image/webp"
                        />
                        <img
                          src="/img/mob/artist-page/created/avatar-png.png"
                          alt="Avatar"
                          width="24"
                          height="24"
                          class="create-space-h4"
                        />
                      </picture>
                      <p class="space-p">Animakid</p>
                    </div>
                  </div>
                  <div class="created-price-bid">
                    <div class="created-price">
                      <p class="space-p created-price-p">Price</p>
                      <p class="space-p created-num-p">1.63 ETH</p>
                    </div>
                    <div class="created-bid">
                      <p class="space-p created-price-p">Highest Bid</p>
                      <p class="space-p created-num-p">0.33 wETH</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="create-pc">
            <a href="./nft-page.html#more-from-artist" target="_self">
              <div>
                <picture>
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-8-1x-webp.webp 1x,
                      /img/pc/artist-page/created/pc-8-2x-webp.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-8-1x-png.png 1x,
                      /img/pc/artist-page/created/pc-8-2x-png.png 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/png.png"
                  />
                  <img
                    src="/img/pc/artist-page/created/pc-8-1x-png.png"
                    alt="Dancing Robots 0987"
                    class="created-img"
                  />
                </picture>

                <div class="created-information">
                  <div class="created-information-avatar">
                    <h3 class="created-pict-title">Dancing Robots 0987</h3>
                    <div class="created-avatar">
                      <picture>
                        <source
                          srcset="/img/mob/artist-page/created/avatar-webp.webp"
                          type="image/webp" />
                        <img
                          src="/img/mob/artist-page/created/avatar-png.png"
                          alt="Avatar"
                          width="24"
                          height="24"
                          class="create-space-h4"
                      /></picture>
                      <p class="space-p">Animakid</p>
                    </div>
                  </div>
                  <div class="created-price-bid">
                    <div class="created-price">
                      <p class="space-p created-price-p">Price</p>
                      <p class="space-p created-num-p">1.63 ETH</p>
                    </div>
                    <div class="created-bid">
                      <p class="space-p created-price-p">Highest Bid</p>
                      <p class="space-p created-num-p">0.33 wETH</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="create-pc">
            <a href="./nft-page.html#more-from-artist" target="_self">
              <div>
                <picture>
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-9-1x-webp.webp 1x,
                      /img/pc/artist-page/created/pc-9-2x-webp.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/artist-page/created/pc-9-1x-png.png 1x,
                      /img/pc/artist-page/created/pc-9-2x-png.png 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/png.png"
                  />
                  <img
                    src="/img/pc/artist-page/created/pc-9-1x-png.png"
                    alt="IceCream Ape"
                    class="created-img"
                  />
                </picture>

                <div class="created-information">
                  <div class="created-information-avatar">
                    <h3 class="created-pict-title">IceCream Ape</h3>
                    <div class="created-avatar">
                      <picture>
                        <source
                          srcset="/img/mob/artist-page/created/avatar-webp.webp"
                          type="image/webp" />
                        <img
                          src="/img/mob/artist-page/created/avatar-png.png"
                          alt="Avatar"
                          width="24"
                          height="24"
                          class="create-space-h4"
                      /></picture>
                      <p class="space-p">Animakid</p>
                    </div>
                  </div>
                  <div class="created-price-bid">
                    <div class="created-price">
                      <p class="space-p created-price-p">Price</p>
                      <p class="space-p created-num-p">1.63 ETH</p>
                    </div>
                    <div class="created-bid">
                      <p class="space-p created-price-p">Highest Bid</p>
                      <p class="space-p created-num-p">0.33 wETH</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
