<section class="container section-hero" id="artist-page-hero">
  <picture>
    <source
      srcset="
        /img/mob/artist-page/hero/mob-artist-page-hero-avatar.webp    1x,
        /img/mob/artist-page/hero/mob-artist-page-hero-avatar-2x.webp 2x
      "
      type="image/webp"
      loading="lazy"
    />
    <source
      srcset="
        /img/mob/artist-page/hero/mob-artist-page-hero-avatar.png    1x,
        /img/mob/artist-page/hero/mob-artist-page-hero-avatar-2x.png 2x
      "
      type="image/png"
      loading="lazy"
    />
    <img
      class="hero-avatar"
      src="/img/mob/artist-page/hero/mob-artist-page-hero-avatar.png"
      alt="avatar"
    />
  </picture>
  <div class="hero-container-avatar-pic">
    <h2 class="hero-title">animakid</h2>

    <ul class="hero-button-list">
      <li class="hero-button-list-item">
        <button class="home-button-copy" type="button">
          <svg class="hero-icon-copy" width="20" height="20">
            <use href="/img/icons.svg#icon-copy"></use>
          </svg>
          0xc0E3...B79C
        </button>
      </li>
      <li class="hero-button-list-item">
        <a class="home-button-follow" href="#" target="_blank">
          <svg class="hero-icon-follow" width="20" height="20">
            <use href="/img/icons.svg#icon-Plus"></use>
          </svg>
          Follow
        </a>
      </li>
    </ul>
  </div>
  <ul class="hero-status-list">
    <li class="hero-status-list-item">
      <p class="hero-status-list-item-number">250k+</p>
      <p class="hero-status-list-item-term">Volume</p>
    </li>
    <li class="hero-status-list-item">
      <p class="hero-status-list-item-number">50k+</p>
      <p class="hero-status-list-item-term">NFTs Sold</p>
    </li>
    <li class="hero-status-list-item">
      <p class="hero-status-list-item-number">3000+</p>
      <p class="hero-status-list-item-term">Followers</p>
    </li>
  </ul>
  <h3 class="hero-bio">Bio</h3>
  <p class="hero-bio-text">The internet's friendliest designer kid.</p>
  <h3 class="hero-links">Links</h3>
  <ul class="hero-soc-link-list">
    <li class="hero-soc-link-list-item">
      <a
        class="hero-soc-list-link"
        href="https://www.animaapp.com"
        target="_blank"
      >
        <svg class="hero-soc-link-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-globe"></use>
        </svg>
      </a>
    </li>
    <li class="hero-soc-link-list-item">
      <a
        class="hero-soc-list-link"
        href="https://www.animaapp.com"
        target="_blank"
      >
        <svg class="hero-soc-link-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-DiscordLogo"></use>
        </svg>
      </a>
    </li>
    <li class="hero-soc-link-list-item">
      <a
        class="hero-soc-list-link"
        href="https://www.animaapp.com"
        target="_blank"
      >
        <svg class="hero-soc-link-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-YoutubeLogo"></use>
        </svg>
      </a>
    </li>
    <li class="hero-soc-link-list-item">
      <a
        class="hero-soc-list-link"
        href="https://www.animaapp.com"
        target="_blank"
      >
        <svg class="hero-soc-link-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-twit2-optimized"></use>
        </svg>
      </a>
    </li>
    <li class="hero-soc-link-list-item">
      <a
        class="hero-soc-list-link"
        href="https://www.animaapp.com"
        target="_blank"
      >
        <svg class="hero-soc-link-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-InstagramLogo"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
