<section
  id="marketplace-page-hero"
  class="container container-hero-marketplace"
>
  <h1 class="hero-title">Browse Marketplace</h1>
  <p class="hero-subtitle">
    Browse through more than 50k NFTs on the NFT Marketplace.
  </p>

  <form action="/search" method="get" class="form">
    <label for="search-field">
      <input
        type="text"
        name="search"
        id="search-field"
        class="search-input"
        placeholder="Search your favourite NFTs"
      />
      <button type="submit" class="btn-search">
        <svg class="icone-search" width="24" height="24">
          <use xlink:href="./img/icons.svg#icon-glass"></use>
        </svg>
      </button>
    </label>
  </form>
</section>
