<section id="marketplace-page-nft">
  <ul class="nft-menu-list">
    <li class="nft-menu-item">
      <button class="nft-menu-btn nft-padding-1" type="button">
        NFTs<span class="span nft-menu-span-number">302</span>
      </button>
    </li>
    <li class="nft-menu-item">
      <button class="nft-menu-btn nft-padding-2" type="submit">
        Collections<span class="span nft-menu-span-number">67</span>
      </button>
    </li>
  </ul>
  <div class="container">
    <ul class="nft-marketplace-list">
      <li class="nft-marketplace-item-mob">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-mashroom-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-mashroom-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-mashroom-marketplace.webp     1x,
                  /img/tab/marketplace-page/tab-mashroom-marketplace-@2x.webp 2x
                "
                media="(min-width: 834px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/mob/marketplace-page/mob-mashroom-marketplace.webp     1x,
                  /img/mob/marketplace-page/mob-mashroom-marketplace-@2x.webp 2x
                "
                media="(max-width: 833px)"
                type="image/webp"
              />
              <source
                srcset="
                  /src/img/pc/marketplace-page/pc-mashroom-marketplace.png     1x,
                  /src/img/pc/marketplace-page/pc-mashroom-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />
              <source
                srcset="
                  /src/img/tab/marketplace-page/tab-mashroom-marketplace.png     1x,
                  /src/img/tab/marketplace-page/tab-mashroom-marketplace-@2x.png 2x
                "
                media="(min-width: 834px)"
                type="image/png"
              />
              <source
                srcset="
                  /src/img/mob/marketplace-page/mob-mashroom-marketplace.png     1x,
                  /src/img/mob/marketplace-page/mob-mashroom-marketplace-@2x.png 2x
                "
                media="(max-width: 833px)"
                type="image/png"
              />
              <img
                src="/img/mob/marketplace-page/mob-mashroom-marketplace.png"
                alt="Magic mashroom"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Magic Mushroom 0324</h3>
              <div class="avatar-card">
                <img
                  src="/img/pc/marketplace-page/avatar/avatar-shroomie.png"
                  alt="avatar"
                  class="avatar-of-card"
                  srcset="
                    /img/pc/marketplace-page/avatar/avatar-shroomie.webp     1x,
                    /img/pc/marketplace-page/avatar/avatar-shroomie-@2x.webp 2x
                  "
                  type="image/webp"
                />

                <p class="space-p text-card">Shroomie</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>

                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-mob">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-robot1-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-robot1-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-robot1-marketplace.webp     1x,
                  /img/tab/marketplace-page/tab-robot1-marketplace-@2x.webp 2x
                "
                media="(min-width: 834px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/mob/marketplace-page/mob-robot1-marketplace.webp     1x,
                  /img/mob/marketplace-page/mob-robot1-marketplace-@2x.webp 2x
                "
                media="(max-width: 833px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/pc/marketplace-page/pc-robot1-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-robot1-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-robot1-marketplace.png     1x,
                  /img/tab/marketplace-page/tab-robot1-marketplace-@2x.png 2x
                "
                media="(min-width: 834px)"
                type="image/png"
              />
              <source
                srcset="
                  /img/mob/marketplace-page/mob-robot1-marketplace.png     1x,
                  /img/mob/marketplace-page/mob-robot1-marketplace-@2x.png 2x
                "
                media="(max-width: 833px)"
                type="image/png"
              />
              <img
                src="/img/mob/marketplace-page/mob-robot1-marketplace.png"
                alt="Happy robot"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Happy Robot 024</h3>
              <div class="avatar-card">
                <img
                  src="/img/pc/marketplace-page/avatar/avatar-robot.png"
                  alt="avatar"
                  class="avatar-of-card"
                  srcset="
                    /img/pc/marketplace-page/avatar/avatar-robot.webp     1x,
                    /img/pc/marketplace-page/avatar/avatar-robot-@2x.webp 2x
                  "
                  type="image/webp"
                />

                <p class="space-p text-card">BeKind2Robots</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-mob">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-robot2-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-robot2-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-robot2-marketplace.webp     1x,
                  /img/tab/marketplace-page/tab-robot2-marketplace-@2x.webp 2x
                "
                media="(min-width: 834px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/mob/marketplace-page/mob-robot2-marketplace.webp     1x,
                  /img/mob/marketplace-page/mob-robot2-marketplace-@2x.webp 2x
                "
                media="(max-width: 833px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/pc/marketplace-page/pc-robot2-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-robot2-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-robot2-marketplace.png     1x,
                  /img/tab/marketplace-page/tab-robot2-marketplace-@2x.png 2x
                "
                media="(min-width: 834px)"
                type="image/png"
              />
              <source
                srcset="
                  /img/mob/marketplace-page/mob-robot2-marketplace.png     1x,
                  /img/mob/marketplace-page/mob-robot2-marketplace-@2x.png 2x
                "
                media="(max-width: 833px)"
                type="image/png"
              />
              <img
                src="/img/mob/marketplace-page/mob-robot2-marketplace.png"
                alt="Happy robot"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Happy Robot 0324</h3>
              <div class="avatar-card">
                <img
                  src="/img/pc/marketplace-page/avatar/avatar-robot.png"
                  alt="avatar"
                  class="avatar-of-card"
                  srcset="
                    /img/pc/marketplace-page/avatar/avatar-robot.webp     1x,
                    /img/pc/marketplace-page/avatar/avatar-robot-@2x.webp 2x
                  "
                  type="image/webp"
                />

                <p class="space-p text-card">BeKind2Robots</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-mob">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-bear-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-bear-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-bear-marketplace.webp     1x,
                  /img/tab/marketplace-page/tab-bear-marketplace-@2x.webp 2x
                "
                media="(min-width: 834px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/mob/marketplace-page/mob-bear-marketplace.webp     1x,
                  /img/mob/marketplace-page/mob-bear-marketplace-@2x.webp 2x
                "
                media="(max-width: 833px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/pc/marketplace-page/pc-bear-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-bear-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-bear-marketplace.png     1x,
                  /img/tab/marketplace-page/tab-bear-marketplace-@2x.png 2x
                "
                media="(min-width: 834px)"
                type="image/png"
              />
              <source
                srcset="
                  /img/mob/marketplace-page/mob-bear-marketplace.png     1x,
                  /img/mob/marketplace-page/mob-bear-marketplace-@2x.png 2x
                "
                media="(max-width: 833px)"
                type="image/png"
              />
              <img
                src="/img/mob/marketplace-page/mob-bear-marketplace.png"
                alt="Designer Bear"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Designer Bear</h3>
              <div class="avatar-card">
                <picture>
                  <source
                    srcset="/img/pc/marketplace-page/avatar/avatar-fox.webp"
                    type="image/webp"
                  />
                  <img
                    srcset="/img/pc/marketplace-page/avatar/avatar-fox.png"
                    alt="avatar"
                    class="avatar-of-card"
                  />
                </picture>

                <p class="space-p text-card">Mr Fox</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-mob">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-dog-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-dog-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-dog-marketplace.webp     1x,
                  /img/tab/marketplace-page/tab-dog-marketplace-@2x.webp 2x
                "
                media="(min-width: 834px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/mob/marketplace-page/mob-dog-marketplace.webp     1x,
                  /img/mob/marketplace-page/mob-dog-marketplace-@2x.webp 2x
                "
                media="(max-width: 833px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/pc/marketplace-page/pc-dog-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-dog-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-dog-marketplace.png     1x,
                  /img/tab/marketplace-page/tab-dog-marketplace-@2x.png 2x
                "
                media="(min-width: 834px)"
                type="image/png"
              />
              <source
                srcset="
                  /img/mob/marketplace-page/mob-dog-marketplace.png     1x,
                  /img/mob/marketplace-page/mob-dog-marketplace-@2x.png 2x
                "
                media="(max-width: 833px)"
                type="image/png"
              />
              <img
                src="/img/mob/marketplace-page/mob-dog-marketplace.png"
                alt="Colorful Dog 0324"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Colorful Dog 0324</h3>
              <div class="avatar-card">
                <picture>
                  <source
                    srcset="
                      /img/pc/marketplace-page/avatar/avatar-keepitreal.webp
                    "
                    type="image/webp"
                  />
                  <img
                    srcset="
                      /img/pc/marketplace-page/avatar/avatar-keepitreal.png
                    "
                    alt="avatar"
                    class="avatar-of-card"
                  />
                </picture>

                <p class="space-p text-card">Keepitreal</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-tab">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-robot3-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-robot3-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-robot3-marketplace.webp     1x,
                  /img/tab/marketplace-page/tab-robot3-marketplace-@2x.webp 2x
                "
                media="(min-width: 834px)"
                type="image/webp"
              />

              <source
                srcset="
                  /img/pc/marketplace-page/pc-robot3-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-robot3-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-robot3-marketplace.png     1x,
                  /img/tab/marketplace-page/tab-robot3-marketplace-@2x.png 2x
                "
                media="(min-width: 834px)"
                type="image/png"
              />

              <img
                src="/img/tab/marketplace-page/tab-robot3-marketplace.png"
                alt="Dancing Robot 0323"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Dancing Robot 0323</h3>
              <div class="avatar-card">
                <picture>
                  <source
                    srcset="
                      /img/pc/marketplace-page/avatar/avatar-robotico.webp
                    "
                    type="image/webp"
                  />
                  <img
                    srcset="/img/pc/marketplace-page/avatar/avatar-robotico.png"
                    alt="avatar"
                    class="avatar-of-card"
                  />
                </picture>

                <p class="space-p text-card">Robotica</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-tab">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-girl-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-girl-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-girl-marketplace.webp     1x,
                  /img/tab/marketplace-page/tab-girl-marketplace-@2x.webp 2x
                "
                media="(min-width: 834px)"
                type="image/webp"
              />

              <source
                srcset="
                  /img/pc/marketplace-page/pc-girl-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-girl-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-girl-marketplace.png     1x,
                  /img/tab/marketplace-page/tab-girl-marketplace-@2x.png 2x
                "
                media="(min-width: 834px)"
                type="image/png"
              />

              <img
                src="/img/tab/marketplace-page/tab-girl-marketplace.png"
                alt="Cherry Blossom Girl 035"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Cherry Blossom Girl 035</h3>
              <div class="avatar-card">
                <picture>
                  <source
                    srcset="
                      /img/pc/marketplace-page/avatar/avatar-moondancer.webp
                    "
                    type="image/webp"
                  />
                  <img
                    srcset="
                      /img/pc/marketplace-page/avatar/avatar-moondancer.png
                    "
                    alt="avatar"
                    class="avatar-of-card"
                  />
                </picture>

                <p class="space-p text-card">MoonDancer</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-tab">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-space-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-space-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-space-marketplace.webp     1x,
                  /img/tab/marketplace-page/tab-space-marketplace-@2x.webp 2x
                "
                media="(min-width: 834px)"
                type="image/webp"
              />

              <source
                srcset="
                  /img/pc/marketplace-page/pc-space-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-space-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />
              <source
                srcset="
                  /img/tab/marketplace-page/tab-space-marketplace.png     1x,
                  /img/tab/marketplace-page/tab-space-marketplace-@2x.png 2x
                "
                media="(min-width: 834px)"
                type="image/png"
              />

              <img
                src="/img/tab/marketplace-page/tab-space-marketplace.png"
                alt="Space Travel"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Space Travel</h3>
              <div class="avatar-card">
                <picture>
                  <source
                    srcset="/img/pc/marketplace-page/avatar/avatar-nebula.webp"
                    type="image/webp"
                  />
                  <img
                    srcset="/img/pc/marketplace-page/avatar/avatar-nebula.png"
                    alt="avatar"
                    class="avatar-of-card"
                  />
                </picture>

                <p class="space-p text-card">NebulaKid</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-pc">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-sunset-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-sunset-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />

              <source
                srcset="
                  /img/pc/marketplace-page/pc-sunset-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-sunset-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />

              <img
                src="/img/pc/marketplace-page/pc-sunset-marketplace.png"
                alt="Sunset"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Sunset Dimension</h3>
              <div class="avatar-card">
                <picture>
                  <source
                    srcset="
                      /img/pc/marketplace-page/avatar/avatar-animokid.webp
                    "
                    type="image/webp"
                  />
                  <img
                    srcset="/img/pc/marketplace-page/avatar/avatar-animokid.png"
                    alt="avatar"
                    class="avatar-of-card"
                  />
                </picture>

                <p class="space-p text-card">Animakid</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-pc">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-desert-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-desert-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />

              <source
                srcset="
                  /img/pc/marketplace-page/pc-desert-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-desert-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />

              <img
                src="/img/pc/marketplace-page/pc-desert-marketplace.png"
                alt="Desert Walk"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Desert Walk</h3>
              <div class="avatar-card">
                <picture>
                  <source
                    srcset="/img/pc/marketplace-page/avatar/avatar-catch.webp"
                    type="image/webp"
                  />
                  <img
                    srcset="/img/pc/marketplace-page/avatar/avatar-catch.png"
                    alt="avatar"
                    class="avatar-of-card"
                  />
                </picture>

                <p class="space-p text-card">Catch 22</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-pc">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-monkey-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-monkey-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />

              <source
                srcset="
                  /img/pc/marketplace-page/pc-monkey-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-monkey-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />

              <img
                src="/img/pc/marketplace-page/pc-monkey-marketplace.png"
                alt="IceCream Ape 0324"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">IceCream Ape 0324</h3>
              <div class="avatar-card">
                <picture>
                  <source
                    srcset="/img/pc/marketplace-page/avatar/avatar-monkey.webp"
                    type="image/webp"
                  />
                  <img
                    srcset="/img/pc/marketplace-page/avatar/avatar-monkey.png"
                    alt="avatar"
                    class="avatar-of-card"
                  />
                </picture>

                <p class="space-p text-card">Ice Ape Club</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
      <li class="nft-marketplace-item-pc">
        <a href="./nft-page.html#more-from-artist">
          <div>
            <picture>
              <source
                srcset="
                  /img/pc/marketplace-page/pc-dog2-marketplace.webp     1x,
                  /img/pc/marketplace-page/pc-dog2-marketplace-@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />

              <source
                srcset="
                  /img/pc/marketplace-page/pc-dog2-marketplace.png     1x,
                  /img/pc/marketplace-page/pc-dog2-marketplace-@2x.png 2x
                "
                media="(min-width: 1280px)"
                type="image/png.png"
              />

              <img
                src="/img/pc/marketplace-page/pc-dog2-marketplace.png"
                alt="Colorful Dog 0344"
                class="nft-marketplace-img"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Colorful Dog 0344</h3>
              <div class="avatar-card">
                <picture>
                  <source
                    srcset="/img/pc/marketplace-page/avatar/avatar-puppy.webp"
                    type="image/webp"
                  />
                  <img
                    srcset="/img/pc/marketplace-page/avatar/avatar-puppy.png"
                    alt="avatar"
                    class="avatar-of-card"
                  />
                </picture>

                <p class="space-p text-card">PuppyPower</p>
              </div>
              <ul class="card-info">
                <li class="info-item">
                  <p class="space-span space-span-card">Price</p>
                  <p class="space-p space-p-card">1.63 ETH</p>
                </li>
                <li class="info-item-two">
                  <p class="space-span space-span-card">Highest Bid</p>
                  <p class="space-p space-p-card">0.33 wETH</p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
