<section id="top-creators" class="container">
  <div class="hero">
    <h1 class="ranking-hero-h1">Top Creators</h1>
    <p class="ranking-hero-p">
      Check out top ranking NFT artists on the NFT Marketplace.
    </p>
    <p></p>
  </div>
  <ul class="ranking-bar">
    <li>
      <button class="bar-style-1" type="button">Today</button>
    </li>
    <li>
      <button class="bar-style-2" type="button">This Week</button>
    </li>
    <li>
      <button class="bar-style-3" type="button">This Month</button>
    </li>
    <li>
      <button class="bar-style-4" type="button">All Time</button>
    </li>
  </ul>
  <ul class="ranking-bar-mob">
    <li>
      <button class="bar-style-mob-1" type="button">1d</button>
    </li>
    <li>
      <button class="bar-style-mob-2" type="button">7d</button>
    </li>
    <li>
      <button class="bar-style-mob-3" type="button">30d</button>
    </li>
    <li>
      <button class="bar-style-mob-4" type="button">All Time</button>
    </li>
  </ul>
  <div class="border-bar"></div>
  <ul class="ranking-table">
    <li class="ranking-table-header">
      <div class="ranking-num"><span>#</span></div>
      <div class="ranking-artist"><span>Artist</span></div>
      <div class="ranking-change-col ranking-change-display">
        <span>Change</span>
      </div>
      <div class="ranking-sold-col ranking-sold-display">
        <span>NFTs Sold</span>
      </div>
      <div class="ranking-volume"><span>Volume</span></div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">1</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-1.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-1.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-1.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Marcus Saris</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">2</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-2.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-2.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-2.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Alfonso Bator</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">3</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-3.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-3.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-3.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Nolan Mango</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">4</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-4.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-4.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-4.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Nolan Mango</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">5</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-5.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-5.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-5.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Miracle Gouse</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">6</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-6.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-6.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-6.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Alena Septimus</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">7</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-7.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-7.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-7.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Desirae Lipshutz</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">8</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-8.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-8.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-8.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Paityn Kenter</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">9</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-9.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-9.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-9.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Alena Vaccaro</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">10</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-10.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-10.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-10.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Randy Carder</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">11</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-11.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-11.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-11.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Hanna Culhane</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">12</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-12.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-12.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-12.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Jocelyn Workman</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">13</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-13.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-13.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-13.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Desirae Septimus</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">14</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-14.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-14.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-14.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Ahmad Franci</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">15</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-15.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-15.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-15.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Maria Bergson</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">16</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-16.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-16.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-16.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Ahmad Geidt</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">17</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-17.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-17.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-17.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Skylar Mango</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">18</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-18.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-18.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-18.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Rayna Geidt</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">19</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-19.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-19.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-19.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Marley Rosser</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
    <li class="ranking-table-row">
      <div class="ranking-number">
        <span class="ranking-number-span">20</span>
      </div>
      <div class="ranking-img">
        <img
          src="/img/pc/ranking-page/Avatar-Placeholder-20.png"
          srcset="
            /img/pc/ranking-page/Avatar-Placeholder-20.webp    1x,
            /img/pc/ranking-page/Avatar-Placeholder-2x-20.webp 2x
          "
          alt="author avatar"
        />
        <p class="ranking-author-title">Tatiana Philips</p>
      </div>
      <div class="ranking-change">
        <span class="ranking-change-span">+1.41%</span>
      </div>
      <div class="ranking-sold">
        <span class="ranking-sold-span">602</span>
      </div>
      <div class="ranking-vol">
        <span class="ranking-vol-span">12.4 ETH</span>
      </div>
    </li>
  </ul>
</section>
