<section id="nft-hero" class="nft-hero">
    <div class="container">

        <div class="nft-hero-container-image">
            <picture class="nft-hero-image">
                <source srcset="/img/pc/nft-page/hero/place-holder-1x.webp 1x, 
                                /img/pc/nft-page/hero/place-holder-2x.webp 2x" media="(min-width: 1280px)"
                    type="image/webp">
                <source srcset="/img/tab/nft-page/hero/place-holder-1x.webp 1x, 
                                /img/tab/nft-page/hero/place-holder-2x.webp 2x" media="(min-width: 834px)"
                    type="image/webp">
                <source srcset="/img/mob/nft-page/hero/place-holder-1x.webp 1x, 
                    /img/mob/nft-page/hero/place-holder-2x.webp  2x" media="(max-width: 833px)" type="image/webp">
                <img src="/img/mob/nft-page/hero/place-holder.jpg" alt="An artistic illustration" />
            </picture>
        </div>

        <h1 class="nft-hero-title mb-10">The Orbitians</h1>
        <p class="nft-tx-minted font-s-16 mb-20">Minted on Sep 30, 2022</p>

        <div class="nft-clock-box mb-20">
            <p class="space-p nft-clock-text mb-10">Auction ends in:</p>
            <div id="clock" class="nft-time">
                <span id="hours" class="space-h2">59</span><span class="dots space-h3">:</span>
                <span id="minutes" class="space-h2">59</span><span class="dots space-h3">:</span>
                <span id="seconds" class="space-h2">59</span>
            </div>
            <ul class="nft-timing">
                <li class="space-h4 timing-item mash-pos-rel">Hours</li>
                <li class="space-h4 timing-item mash-pos-rel">Minutes</li>
                <li class="space-h4 timing-item mash-pos-rel">Seconds</li>
            </ul>
            <a href="">
                <button class="nft-clock-btn" type="button">
                    <p class="nft-clock-btn-tx font-s-16 font-w-600">Place Bid</p>
                </button>
            </a>
        </div>

        <div class="nft-tx-container">
            <div class="nft-created-container mb-20">
                <h2 class="nft-title font-s-16 mb-10">Created By</h2>
                <a href="./artist-page.html">
                    <div class="nft-created">
                        <picture class="nft-created-icon">
                            <source
                                srcset="/img/pc/ranking-page/Avatar-Placeholder-9.webp 1x, /img/pc/ranking-page/Avatar-Placeholder-2x-9.webp 2x"
                                media="(min-width: 834px)" type="image/webp">
                            <source
                                srcset="/img/pc/ranking-page/Avatar-Placeholder-1.webp 1x, /img/pc/ranking-page/Avatar-Placeholder-2x-1.webp 2x"
                                media="(max-width: 833px)" type="image/webp">
                            <img class="categories-img" src="/img/pc/ranking-page/Avatar-Placeholder-1.png"
                                alt="author avatar" />
                        </picture>
                        <p class="nft-tx font-s-16 mb-20 nft-tx-created--desktop">Dish Studio</p>
                    </div>
                </a>
            </div>

            <h2 class="nft-title font-s-16 mb-10">Description</h2>
            <div class="nft-tx-description mb-20">
                <p class="nft-tx font-s-16">The Orbitians</p>
                <p class="nft-tx font-s-16 mb-20">is a collection of 10,000 unique NFTs on the Ethereum blockchain.</p>
                <p class="nft-tx font-s-16 mb-20">There are all sorts of beings
                    in the NFT Universe. The most advanced and friendly of the bunch are Orbitians.
                </p>
                <p class="nft-tx font-s-16 mb-20">They live in metal space machines, high up in the sky, and only have
                    one
                    foot
                    on
                    Earth.</p>
                <p class="nft-tx font-s-16 mb-20">
                    These Orbitians are a peaceful race, but they
                    have been at war with a group of invaders for many generations. The invaders are called
                    Upside-Downs,
                    because of
                    their inverted bodies that live on the ground, yet do not know any
                    other way to be. Upside-Downs believe that they will be able to win this war if they could only get
                    an
                    eye
                    into
                    Orbitian
                    territory, so they've taken to make human beings their target.
                </p>
            </div>

            <h2 class="nft-title font-s-16 mb-10">Details</h2>
            <div class="nft-details-container mb-20">
                <a href="">
                    <div class="nft-details mb-10">
                        <svg class="nft-details-icon">
                            <use xlink:href="/img/icons.svg#icon-details"></use>
                        </svg>
                        <p class="nft-tx font-s-16 mb-20">View on Etherscan</p>
                    </div>
                </a>
                <a href="">
                    <div class="nft-details mb-10">
                        <svg class="nft-details-icon">
                            <use xlink:href="/img/icons.svg#icon-details"></use>
                        </svg>
                        <p class="nft-tx font-s-16 mb-20">View Original</p>
                    </div>
                </a>
            </div>

            <h2 class="nft-title font-s-16 mb-10 nft-tags">Tags</h2>
            <ul class="nft-tags-list">
                <li class="nft-tags-item">
                    <a href="./marketplace-page.html">
                        <p class="nft-tags-tx font-w-600">Animation</p>
                    </a>
                </li>
                <li class="nft-tags-item">
                    <a href="./marketplace-page.html">
                        <p class="nft-tags-tx font-w-600">Illustration</p>
                    </a>
                </li>
                <li class="nft-tags-item">
                    <a href="./marketplace-page.html">
                        <p class="nft-tags-tx font-w-600">Moon</p>
                    </a>
                </li>
                <li class="nft-tags-item">
                    <a href="./marketplace-page.html">
                        <p class="nft-tags-tx font-w-600">Space</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>