<section id="categories" class="categories">
    <div class="container">

        <h2 class="categories-title">Browse Categories</h2>

        <ul class="categories-card-list">
            <li class="categories-card-item">
                <a href="./marketplace-page.html">
                    <div class="categories-card-wrapper">
                        <picture>
                            <source
                                srcset="/img/pc/home-page/categories/art-1x.webp 1x, /img/pc/home-page/categories/art-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="/img/tab/home-page/categories/art-1x.webp 1x, /img/tab/home-page/categories/art-2x.webp 2x"
                                media="(min-width: 834px)" type="image/webp">
                            <source
                                srcset="/img/mob/home-page/categories/art-1x.webp 1x, /img/mob/home-page/categories/art-2x.webp 2x"
                                media="(max-width: 833px)" type="image/webp">
                            <img class="categories-img" src="/img/pc/home-page/categories/art.png"
                                alt="An artistic illustration" />
                        </picture>
                        <div class="blur-overlay"></div>
                        <svg class="categories-card-icon">
                            <use xlink:href="/img/icons.svg#icon-art"></use>
                        </svg>
                    </div>
                    <p class="categories-card-tex">Art</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="./marketplace-page.html">
                    <div class="categories-card-wrapper">
                        <picture>
                            <source
                                srcset="/img/pc/home-page/categories/collectibles-1x.webp 1x, /img/pc/home-page/categories/collectibles-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="/img/tab/home-page/categories/collectibles-1x.webp 1x, /img/tab/home-page/categories/collectibles-2x.webp 2x"
                                media="(min-width: 834px)" type="image/webp">
                            <source
                                srcset="/img/mob/home-page/categories/collectibles-1x.webp 1x, /img/mob/home-page/categories/collectibles-2x.webp 2x"
                                media="(max-width: 833px)" type="image/webp">
                            <img class="categories-img" src="/img/pc/home-page/categories/collectibles.png"
                                alt="Illustration of a collectible item" />
                        </picture>
                        <div class="blur-overlay"></div>
                        <svg class="categories-card-icon">
                            <use xlink:href="/img/icons.svg#icon-collectibles"></use>
                        </svg>
                    </div>
                    <p class="categories-card-tex">Collectibles</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="./marketplace-page.html">
                    <div class="categories-card-wrapper">
                        <picture>
                            <source
                                srcset="/img/pc/home-page/categories/music-1x.webp 1x, /img/pc/home-page/categories/music-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="/img/tab/home-page/categories/music-1x.webp 1x, /img/tab/home-page/categories/music-2x.webp 2x"
                                media="(min-width: 834px)" type="image/webp">
                            <source
                                srcset="/img/mob/home-page/categories/music-1x.webp 1x, /img/mob/home-page/categories/music-2x.webp 2x"
                                media="(max-width: 833px)" type="image/webp">
                            <img class="categories-img" src="/img/pc/home-page/categories/music.png"
                                alt="An illustration symbolizing music" />
                        </picture>
                        <div class="blur-overlay"></div>
                        <svg class="categories-card-icon">
                            <use xlink:href="/img/icons.svg#icon-music"></use>
                        </svg>
                    </div>
                    <p class="categories-card-tex">Music</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="./marketplace-page.html">
                    <div class="categories-card-wrapper">
                        <picture>
                            <source
                                srcset="/img/pc/home-page/categories/photography-1x.webp 1x, /img/pc/home-page/categories/photography-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="/img/tab/home-page/categories/photography-1x.webp 1x, /img/tab/home-page/categories/photography-2x.webp 2x"
                                media="(min-width: 834px)" type="image/webp">
                            <source
                                srcset="/img/mob/home-page/categories/photography-1x.webp 1x, /img/mob/home-page/categories/photography-2x.webp 2x"
                                media="(max-width: 833px)" type="image/webp">
                            <img class="categories-img" src="/img/pc/home-page/categories/photography.png"
                                alt="A photographic illustration representing the photography category" />
                        </picture>
                        <div class="blur-overlay"></div>
                        <svg class="categories-card-icon">
                            <use xlink:href="/img/icons.svg#icon-photography"></use>
                        </svg>
                    </div>
                    <p class="categories-card-tex">Photography</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="./marketplace-page.html">
                    <div class="categories-card-wrapper">
                        <picture>
                            <source
                                srcset="/img/pc/home-page/categories/video-1x.webp 1x, /img/pc/home-page/categories/video-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="/img/tab/home-page/categories/video-1x.webp 1x, /img/tab/home-page/categories/video-2x.webp 2x"
                                media="(min-width: 834px)" type="image/webp">
                            <source
                                srcset="/img/mob/home-page/categories/video-1x.webp 1x, /img/mob/home-page/categories/video-2x.webp 2x"
                                media="(max-width: 833px)" type="image/webp">
                            <img class="categories-img" src="/img/pc/home-page/categories/video.png"
                                alt="An illustration symbolizing video" />
                        </picture>
                        <div class="blur-overlay"></div>
                        <svg class="categories-card-icon">
                            <use xlink:href="/img/icons.svg#icon-sport"></use>
                        </svg>
                    </div>
                    <p class="categories-card-tex">Video</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="./marketplace-page.html">
                    <div class="categories-card-wrapper">
                        <picture>
                            <source
                                srcset="/img/pc/home-page/categories/utility-1x.webp 1x, /img/pc/home-page/categories/utility-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="/img/tab/home-page/categories/utility-1x.webp 1x, /img/tab/home-page/categories/utility-2x.webp 2x"
                                media="(min-width: 834px)" type="image/webp">
                            <source
                                srcset="/img/mob/home-page/categories/utility-1x.webp 1x, /img/mob/home-page/categories/utility-2x.webp 2x"
                                media="(max-width: 833px)" type="image/webp">
                            <img class="categories-img" src="/img/pc/home-page/categories/utility.png"
                                alt="An illustration representing utility features" />
                        </picture>
                        <div class="blur-overlay"></div>
                        <svg class="categories-card-icon">
                            <use xlink:href="/img/icons.svg#icon-utility"></use>
                        </svg>
                    </div>
                    <p class="categories-card-tex">Utility</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="./marketplace-page.html">
                    <div class="categories-card-wrapper">
                        <picture>
                            <source
                                srcset="/img/pc/home-page/categories/sport-1x.webp 1x, /img/pc/home-page/categories/sport-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="/img/tab/home-page/categories/sport-1x.webp 1x, /img/tab/home-page/categories/sport-2x.webp 2x"
                                media="(min-width: 834px)" type="image/webp">
                            <source
                                srcset="/img/mob/home-page/categories/sport-1x.webp 1x, /img/mob/home-page/categories/sport-2x.webp 2x"
                                media="(max-width: 833px)" type="image/webp">
                            <img class="categories-img" src="/img/pc/home-page/categories/sport.png"
                                alt="An illustration related to sports" />
                        </picture>
                        <div class="blur-overlay"></div>
                        <svg class="categories-card-icon">
                            <use xlink:href="/img/icons.svg#icon-video"></use>
                        </svg>
                    </div>
                    <p class="categories-card-tex">Sport</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="./marketplace-page.html">
                    <div class="categories-card-wrapper">
                        <picture>
                            <source
                                srcset="/img/pc/home-page/categories/virtual-worlds-1x.webp 1x, /img/pc/home-page/categories/virtual-worlds-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="/img/tab/home-page/categories/virtual-worlds-1x.webp 1x, /img/tab/home-page/categories/virtual-worlds-2x.webp 2x"
                                media="(min-width: 834px)" type="image/webp">
                            <source
                                srcset="/img/mob/home-page/categories/virtual-worlds-1x.webp 1x, /img/mob/home-page/categories/virtual-worlds-2x.webp 2x"
                                media="(max-width: 833px)" type="image/webp">
                            <img class="categories-bloor-img" src="/img/pc/home-page/categories/virtual-worlds.png"
                                alt="An illustration symbolizing virtual worlds" />
                        </picture>
                        <div class="blur-overlay"></div>
                        <svg class="categories-card-icon">
                            <use xlink:href="/img/icons.svg#icon-virtual-worlds"></use>
                        </svg>
                    </div>
                    <p class="categories-card-tex">Virtual Worlds</p>
                </a>
            </li>
        </ul>
    </div>
</section>