<section id="creators">
  <div class="container">
    <div class="creators-wrap">
      <div class="creators-h-wrap">
        <h2 class="creators-h2">Top creators</h2>
        <p class="creators-p">
          Checkout Top Rated Creators on the NFT Marketplace
        </p>
      </div>
      <a class="creators-link" href="./ranking-page.html"
        ><svg width="20" height="20">
          <use href="/img/icons.svg#creators-rocket"></use>
        </svg>
        View Rankings</a
      >
    </div>
    <ul class="creators-ul">
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/1.webp    1x,
              /img/pc/home-page/creators/1-2x.webp 2x
            "
            src="/img/pc/home-page/creators/1.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>Keepitreal</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/2.webp    1x,
              /img/pc/home-page/creators/2-2x.webp 2x
            "
            src="/img/pc/home-page/creators/2.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>DigiLab</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/3.webp    1x,
              /img/pc/home-page/creators/3-2x.webp 2x
            "
            src="/img/pc/home-page/creators/3.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>GravityOne</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/4.webp    1x,
              /img/pc/home-page/creators/4-2x.webp 2x
            "
            src="/img/pc/home-page/creators/4.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>Juanie</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/5.webp    1x,
              /img/pc/home-page/creators/5-2x.webp 2x
            "
            src="/img/pc/home-page/creators/5.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>BlueWhale</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/6.webp    1x,
              /img/pc/home-page/creators/6-2x.webp 2x
            "
            src="/img/pc/home-page/creators/6.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>mr fox</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/7.webp    1x,
              /img/pc/home-page/creators/7-2x.webp 2x
            "
            src="/img/pc/home-page/creators/7.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>Shroomie</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/8.webp    1x,
              /img/pc/home-page/creators/8-2x.webp 2x
            "
            src="/img/pc/home-page/creators/8.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>robotica</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/9.webp    1x,
              /img/pc/home-page/creators/9-2x.webp 2x
            "
            src="/img/pc/home-page/creators/9.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>RustyRobot</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/10.webp    1x,
              /img/pc/home-page/creators/10-2x.webp 2x
            "
            src="/img/pc/home-page/creators/10.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>animakid</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/11.webp    1x,
              /img/pc/home-page/creators/11-2x.webp 2x
            "
            src="/img/pc/home-page/creators/11.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>Dotgu</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="creators-a-artist" href="./artist-page.html#created">
          <img
            loading="lazy"
            class="creators-img"
            srcset="
              /img/pc/home-page/creators/12.webp    1x,
              /img/pc/home-page/creators/12-2x.webp 2x
            "
            src="/img/pc/home-page/creators/12.png"
            alt=""
          />
          <div class="creators-li-text-div">
            <h3>Ghiblier</h3>
            <div class="creators-sale-div">
              <span>Total Sales: </span>
              <p class="space-p">34.53 ETH</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <a class="creators-link" href="./ranking-page.html"
      ><svg width="20" height="20">
        <use href="/img/icons.svg#creators-rocket"></use>
      </svg>
      View Rankings</a
    >
  </div>
</section>
