<section id="discovery">
  <div class="container discovery-container">
    <h3 class="title-discovery">Discover More NFTs</h3>
    <h4 class="subtitle-discovery">Explore new trending NFTs</h4>
    <ul class="nft-list">
      <li>
        <a class="nft-list-link" href="./nft-page.html#more-from-artist.html">
          <div class="nft-item">
            <picture>
              <source
                srcset="
                  /img/pc/home-page/discovery/galaxy-pc.webp     1x,
                  /img/pc/home-page/discovery/galaxy-pc-@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/tab/home-page/discovery/galaxy-tab.webp     1x,
                  /img/tab/home-page/discovery/galaxy-tab-@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 834px)"
              />
              <source
                srcset="
                  /img/mob/home-page/discovery/galaxy-mob.webp     1x,
                  /img/mob/home-page/discovery/galaxy-mob-@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 833px)"
              />

              <source
                srcset="
                  /img/pc/home-page/discovery/galaxy-pc.png     1x,
                  /img/pc/home-page/discovery/galaxy-pc-@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/tab/home-page/discovery/galaxy-tab.png     1x,
                  /img/tab/home-page/discovery/galaxy-tab-@2x.png 2x
                "
                type="image/png"
                media="(min-width: 834px)"
              />
              <source
                srcset="
                  /img/mob/home-page/discovery/galaxy-mob.png     1x,
                  /img/mob/home-page/discovery/galaxy-mob-@2x.png 2x
                "
                type="image/png"
                media="(max-width: 833px)"
              />
              <img
                src="/src/img/mob/home-page/discovery/galaxy-mob.png"
                alt="galaxy"
                class="img-galaxy"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Distant Galaxy</h3>
              <div class="avatar-card">
                <img
                  srcset="
                    /img/pc/home-page/discovery/avatar/moondancer.webp     1x,
                    /img/pc/home-page/discovery/avatar/moondancer-@2x.webp 2x
                  "
                  alt="avatar"
                  class="avatar-of-card"
                />
                <p class="space-p text-card">MoonDancer</p>

                <img
                  class="nft-avatar"
                  srcset="
                    /img/pc/home-page/discovery/avatar/nft-av.webp     1x,
                    /img/pc/home-page/discovery/avatar/nft-av-@2x.webp 2x
                  "
                  alt="avatar"
                />
                <p class="space-p text-card-nft">NFT Artist</p>
              </div>
              <div class="card-info">
                <p class="space-span space-span-card">Price</p>
                <p class="space-span space-span-card">Highest Bid</p>
              </div>
              <div class="card-info-two">
                <p class="space-p space-p-card">1.63 ETH</p>

                <p class="space-p space-p-card">0.33 wETH</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="nft-list-link" href="./nft-page.html#more-from-artist">
          <div class="nft-item">
            <picture>
              <source
                srcset="
                  /img/pc/home-page/discovery/edena-pc.webp     1x,
                  /img/pc/home-page/discovery/edena-pc-@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/tab/home-page/discovery/edena-tab.webp     1x,
                  /img/tab/home-page/discovery/edena-tab-@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 834px)"
              />
              <source
                srcset="
                  /img/mob/home-page/discovery/edena-mob.webp     1x,
                  /img/mob/home-page/discovery/edena-mob-@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 833px)"
              />

              <source
                srcset="
                  /img/pc/home-page/discovery/edena-pc.png     1x,
                  /img/pc/home-page/discovery/edena-pc-@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/tab/home-page/discovery/edena-tab.png     1x,
                  /img/tab/home-page/discovery/edena-tab-@2x.png 2x
                "
                type="image/png"
                media="(min-width: 834px)"
              />
              <source
                srcset="
                  /img/mob/home-page/discovery/edena-mob.png     1x,
                  /img/mob/home-page/discovery/edena-mob-@2x.png 2x
                "
                type="image/png"
                media="(max-width: 833px)"
              />
              <img
                src="/img/mob/home-page/discovery/edena-mob.png"
                alt="edena"
                class="img-edena"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">Life on Edena</h3>
              <div class="avatar-card">
                <img
                  srcset="
                    /img/pc/home-page/discovery/avatar/nebula.webp     1x,
                    /img/pc/home-page/discovery/avatar/nebula-@2x.webp 2x
                  "
                  alt="avatar"
                  class="avatar-of-card"
                />

                <p class="space-p text-card">NebulaKid</p>

                <img
                  class="nft-avatar"
                  srcset="
                    /img/pc/home-page/discovery/avatar/nft-av.webp     1x,
                    /img/pc/home-page/discovery/avatar/nft-av-@2x.webp 2x
                  "
                  alt="avatar"
                />
                <p class="space-p text-card-nft">NFT Artist</p>
              </div>
              <div class="card-info">
                <p class="space-span space-span-card">Price</p>
                <p class="space-span space-span-card">Highest Bid</p>
              </div>
              <div class="card-info-two">
                <p class="space-p space-p-card">1.63 ETH</p>

                <p class="space-p space-p-card">0.33 wETH</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a class="nft-list-link" href="./nft-page.html#more-from-artist">
          <div class="nft-item nft-item-astro">
            <picture>
              <source
                srcset="
                  /img/pc/home-page/discovery/astro-pc.webp     1x,
                  /img/pc/home-page/discovery/astro-pc-@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/tab/home-page/discovery/astro-tab.webp     1x,
                  /img/tab/home-page/discovery/astro-tab-@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 834px)"
              />
              <source
                srcset="
                  /img/mob/home-page/discovery/astro-mob.webp     1x,
                  /img/mob/home-page/discovery/astro-mob-@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 833px)"
              />

              <source
                srcset="
                  /img/pc/home-page/discovery/astro-pc.png     1x,
                  /img/pc/home-page/discovery/astro-pc-@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/tab/home-page/discovery/astro-tab.png     1x,
                  /img/tab/home-page/discovery/astro-tab-@2x.png 2x
                "
                type="image/png"
                media="(min-width: 834px)"
              />
              <source
                srcset="
                  /img/mob/home-page/discovery/astro-mob.png     1x,
                  /img/mob/home-page/discovery/astro-mob-@2x.png 2x
                "
                type="image/png"
                media="(max-width: 833px)"
              />
              <img
                src="/img/mob/home-page/discovery/astro-mob.png"
                alt="edena"
                class="img-astro"
              />
            </picture>
            <div class="card">
              <h3 class="title-card">AstroFiction</h3>
              <div class="avatar-card">
                <img
                  srcset="
                    /img/pc/home-page/discovery/avatar/spaceone.webp     1x,
                    /img/pc/home-page/discovery/avatar/spaceone-@2x.webp 2x
                  "
                  alt="avatar"
                  class="avatar-of-card"
                />

                <p class="space-p text-card">Spaceone</p>
                <img
                  class="nft-avatar"
                  srcset="
                    /img/pc/home-page/discovery/avatar/nft-av.webp     1x,
                    /img/pc/home-page/discovery/avatar/nft-av-@2x.webp 2x
                  "
                  alt="avatar"
                />
                <p class="space-p text-card-nft">NFT Artist</p>
              </div>
              <div class="card-info">
                <p class="space-span space-span-card">Price</p>
                <p class="space-span space-span-card">Highest Bid</p>
              </div>
              <div class="card-info-two">
                <p class="space-p space-p-card">1.63 ETH</p>

                <p class="space-p space-p-card">0.33 wETH</p>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <a class="see-all" href="./marketplace-page.html">
      <svg class="icone-see-all">
        <use href="/img/icons.svg#icon-eye"></use>
      </svg>
      See all</a
    >
  </div>
</section>
