<footer id="footer" class="footer-hiw">
  <div class="container">
    <ul class="hiw-footer-list">
      <li class="hiw-footer-item hiw-footer-item-first">
        <a class="footer-hiw-nft-logo" href="./index.html">
          <svg class="footer-hiw-logo">
            <use xlink:href="/img/icons.svg#header-nft-logo"></use>
          </svg>
        </a>
        <div class="text-footer-one">
          <p class="footer-text footer-text-card">
            NFT marketplace UI created with Anima for Figma.
          </p>
          <p class="footer-text footer-text-item">Join our community</p>
        </div>

        <ul class="footer-list-link">
          <li>
            <a href="https://www.animaapp.com">
              <svg class="footer-link-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-DiscordLogo"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.animaapp.com">
              <svg class="footer-link-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-YoutubeLogo"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.animaapp.com">
              <svg class="footer-link-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-twit2-optimized"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.animaapp.com">
              <svg class="footer-link-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-InstagramLogo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="hiw-footer-item footer-link-flex">
        <h2 class="footer-item">Explore</h2>
        <ul class="footer-text-link-second">
          <li><a class="footer-text-link" href="">Marketplace</a></li>
          <li><a class="footer-text-link" href="">Rankings</a></li>
          <li><a class="footer-text-link" href="">Connect a wallet</a></li>
        </ul>
      </li>
      <li class="hiw-footer-item footer-input-item">
        <h2 class="footer-item">Join our weekly digest</h2>
        <p class="footer-text footer-text-last">
          Get exclusive promotions & updates straight to your inbox.
        </p>
        <div class="hiw-input-div footer-input-div">
          <label for="">
            <input
              class="astronaut-input footer-input"
              type="email"
              name="email"
              placeholder="Enter your email here"
              required
            />
          </label>
          <button class="astronaut-button footer-button" type="button">
            <svg
              class="astronaut-button-icon footer-button-icon"
              width="20"
              height="20"
            >
              <use href="/img/icons.svg#button-icon"></use>
            </svg>
            Subscribe
          </button>
        </div>
      </li>
    </ul>
    <p class="footer-copyright">Ⓒ NFT Market. Use this template freely.</p>
  </div>
</footer>
