<header>
  <nav class="header-nav container">
    <a class="header-nft-logo" href="./index.html">
      <svg class="header-nft-logo-long">
        <use xlink:href="/img/icons.svg#header-nft-logo"></use>
      </svg>
    </a>
    <ul class="header-menu-list-sing-up">
      <li>
        <ul class="header-menu-list">
          <li>
            <a class="header-menu-list-a" href="./marketplace-page.html#nft"
              >Marketplace</a
            >
          </li>
          <li>
            <a
              class="header-menu-list-a"
              href="./ranking-page.html#top-creators"
              >Rankings</a
            >
          </li>
          <li>
            <a class="header-menu-list-a" href="./wallet.html"
              >Connect a wallet</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a class="header-sign-up" href="./account.html">
          <svg class="header-sign-up-user">
            <use xlink:href="/img/icons.svg#header-sign-up-user"></use>
          </svg>
          Sign Up</a
        >
      </li>
    </ul>

    <svg class="header-burger-menu">
      <use xlink:href="/img/icons.svg#header-burger-menu"></use>
    </svg>
  </nav>
</header>
