<section id="hero" class="hero">
  <div class="container hero-wrapper">
    <div class="hero-art">
      <h1 class="hero-title">Discover digital art & Collect NFTs</h1>
      <h4 class="hero-art-text">
        NFT marketplace UI created with Anima for Figma. Collect, buy and sell
        art from more than 20k NFT artists.
      </h4>
    </div>
    <a href="./artist-page.html#created">
      <div class="hero-space">
        <picture>
          <source
            srcset="
              /img/pc/home-page/hero/hero-1.webp    1x,
              /img/pc/home-page/hero/hero-1-2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              /img/tab/home-page/hero/hero-1.webp    1x,
              /img/tab/home-page/hero/hero-1-2x.webp 2x
            "
            media="(min-width: 834px)"
            type="image/webp"
          />
          <source
            srcset="
              /img/mob/home-page/hero/hero-1.webp    1x,
              /img/mob/home-page/hero/hero-1-2x.webp 2x
            "
            media="(max-width: 833px)"
            type="image/webp"
          />
          <source
            srcset="
              /img/pc/home-page/hero/hero-1-png.png    1x,
              /img/pc/home-page/hero/hero-1-2x-png.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              /img/tab/home-page/hero/hero-1-png.png    1x,
              /img/tab/home-page/hero/hero-1-2x-png.png 2x
            "
            media="(min-width: 834px)"
            type="image/png"
          />
          <source
            srcset="
              /img/mob/home-page/hero/hero-1-png.png    1x,
              /img/mob/home-page/hero/hero-1-2x-png.png 2x
            "
            media="(max-width: 833px)"
            type="image/png"
          />
          <img
            src="/img/pc/home-page/hero/hero-1-png.png"
            alt="Artist"
            class="hero-img"
          />
        </picture>
        <div class="hero-space-bottom">
          <h3 class="hero-space-bottom-walking">Space Walking</h3>
          <div class="hero-bottom-avatar">
            <picture>
              <source
                srcset="/img/pc/ranking-page/Avatar-Placeholder-14.webP"
                alt="Avater"
                type="image/webp"
                class="hero-avatar"
                type="image/webp"
              />
              <img
                src="/img/pc/ranking-page/Avatar-Placeholder-14.png"
                alt="Avatar"
                class="hero-avatar"
                width="24"
                height="24"
              />
            </picture>
            <h4 class="hero-space-bottom-animakid">Animakid</h4>
          </div>
        </div>
      </div>
    </a>
    <div class="hero-price">
      <a class="hero-btn" href="./account.html#account">
        <svg class="hero-icon">
          <use xlink:href="/img/icons.svg#icon-RocketLaunch"></use>
        </svg>
        Get Started</a
      >
      <ul class="hero-list">
        <li class="hero-item">
          <p class="space-p hero-space-p">240k+</p>
          <p class="hero-item-text-total">Total Sale</p>
        </li>
        <li class="hero-item">
          <p class="space-p hero-space-p">100k+</p>
          <p class="hero-item-text-total">Auctions</p>
        </li>
        <li class="hero-item">
          <p class="space-p hero-space-p">240k+</p>
          <p class="hero-item-text-total">Artists</p>
        </li>
      </ul>
    </div>
  </div>
</section>
