<section id="how-it-work">
  <div class="container">
    <h2 class="hiw-title">How it works</h2>
    <p class="hiw-text">Find out how to get started</p>
    <ul class="hiw-list">
      <li class="hiw-card">
        <div class="hiw-svg-div">
          <svg class="hiw-svg-size" width="250" height="250">
            <use href="/img/icons.svg#hiw-1"></use>
          </svg>
        </div>

        <div class="hiw-card-wrapp">
          <h3 class="hiw-card-title">Setup Your wallet</h3>
          <p class="hiw-card-text">
            Set up your wallet of choice. Connect it to the NFT market by
            clicking the wallet icon in the top right corner.
          </p>
        </div>
      </li>

      <li class="hiw-card">
        <div class="hiw-svg-div">
          <svg class="hiw-svg-size" width="250" height="250">
            <use href="/img/icons.svg#hiw-2"></use>
          </svg>
        </div>

        <div class="hiw-card-wrapp">
          <h3 class="hiw-card-title">Create Collection</h3>
          <p class="hiw-card-text">
            Upload your work and setup your collection. Add a description,
            social links and floor price.
          </p>
        </div>
      </li>

      <li class="hiw-card">
        <div class="hiw-svg-div">
          <svg class="hiw-svg-size" width="250" height="250">
            <use href="/img/icons.svg#hiw-3"></use>
          </svg>
        </div>

        <div class="hiw-card-wrapp">
          <h3 class="hiw-card-title">Start Earning</h3>
          <p class="hiw-card-text">
            Choose between auctions and fixed-price listings. Start earning by
            selling your NFTs or trading others.
          </p>
        </div>
      </li>
    </ul>

    <ul class="astronaut-list">
      <li class="astronaut-card-img width-li">
        <picture>
          <source
            srcset="
              /img/mob/how-it-work/mob-astronaut.webp    1x,
              /img/mob/how-it-work/mob-astronaut@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 833px)"
          />
          <source
            srcset="
              /img/tab/how-it-work/tab-astronaut.webp    1x,
              /img/tab/how-it-work/tab-astronaut@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              /img/pc/how-it-work/pc-astronaut.webp    1x,
              /img/pc/how-it-work/pc-astronaut@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/mob/how-it-work/mob-astronaut.png    1x,
              /img/mob/how-it-work/mob-astronaut@2x.png 2x
            "
            type="image/png"
            media="(max-width: 833px)"
          />
          <source
            srcset="
              /img/tab/how-it-work/tab-astronaut.png    1x,
              /img/tab/how-it-work/tab-astronaut@2x.png 2x
            "
            type="image/png"
            media="(max-width: 1279px)"
          />
          <source
            srcset="
              /img/pc/how-it-work/pc-astronaut.png    1x,
              /img/pc/how-it-work/pc-astronaut@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
          />
          <img src="/img/mob/how-it-work/mob-astronaut.png" alt="astronaut" />
        </picture>
      </li>
      <li class="astronaut-card-title width-li">
        <h2 class="astronaut-title">Join our weekly digest</h2>
        <p class="astronaut-text">
          Get exclusive promotions & updates straight to your inbox.
        </p>

        <div class="hiw-input-div">
          <label class="hiw-lable" for="">
            <input
              class="astronaut-input"
              type="email"
              name="email"
              placeholder="Enter your email here"
              required
            />
          </label>
          <button class="astronaut-button" type="button">
            <svg class="astronaut-button-icon" width="20" height="20">
              <use href="/img/icons.svg#button-icon"></use>
            </svg>
            Subscribe
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
