<section id="mashrooms" class="mashrooms">
  <div class="container mashrooms-container">
    <a class="avatar-link" href="./artist-page.html">
      <img
        srcset="
          /img/pc/home-page/mashrooms/avatar-2.webp   1x,
          /img/pc/home-page/mashrooms/avatar-@2x.webp 2x
        "
        alt="avatar"
        width="24"
      />
      Shroomie
    </a>

    <h2 class="title-mashrooms">Magic Mashrooms</h2>
    <div class="clock-box">
      <p class="space-p clock-text">Auction ends in:</p>
      <div id="clock" class="time">
        <span id="hours" class="space-h2">59</span
        ><span class="dots space-h3">:</span>
        <span id="minutes" class="space-h2">59</span
        ><span class="dots space-h3">:</span>
        <span id="seconds" class="space-h2">59</span>
      </div>

      <ul class="timing">
        <li class="space-h4 timing-item mash-pos-rel">Hours</li>
        <li class="space-h4 timing-item mash-pos-rel">Minutes</li>
        <li class="space-h4 timing-item mash-pos-rel">Seconds</li>
      </ul>
    </div>
    <a class="nft-link" href="./nft-page.html#more-from-artist">
      <svg class="icone-eye">
        <use href="./img/icons.svg#icon-eye"></use>
      </svg>
      See NFT</a
    >
  </div>
</section>
