<section id="trends" class="section">
  <div class="container">
    <div class="trends-container-title">
      <h2 class="trends-title">Trending Collection</h2>
      <p class="trends-text">
        Checkout our weekly updated trending collection.
      </p>
    </div>
    <ul class="trends-card-list">
      <li class="trends-card-list-item">
        <div class="trends-container-card">
          <ul class="trends-picture-list">
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link"
                href="./nft-page.html#more-from-artist"
              >
                <picture>
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-dog1-card1.webp    1x,
                      /img/mob/home-page/trends/mob-home-dog1-card1@2x.webp 2x
                    "
                    type="image/webp"
                    media="(max-width: 833px)"
                  />

                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-dog1-card1.webp   1x,
                      /img/tab/home-page/trends/tab-home-dog1-card@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 834px)"
                  />
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-dog-card1.png    1x,
                      /img/mob/home-page/trends/mob-home-dog-card1@2x.png 2x
                    "
                    type="image/png"
                    media="(max-width: 833px)"
                  />
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-dog1-card1.png    1x,
                      /img/tab/home-page/trends/tab-home-dog1-card1@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 834px)"
                  />

                  <img
                    loading="lazy"
                    class="trends-picture-list-item-image"
                    src="/img/mob/home-page/trends/mob-home-dog-card1.png"
                    alt="dog"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link"
                href="./nft-page.html#more-from-artist"
              >
                <picture>
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-cat2-card1.webp    1x,
                      /img/mob/home-page/trends/mob-home-cat2-card1@2x.webp 2x
                    "
                    type="image/webp"
                    media="(max-width: 833px)"
                  />

                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-cat2-card1.webp    1x,
                      /img/tab/home-page/trends/tab-home-cat2-card1@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 834px)"
                  />

                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-cat2-card1.png    1x,
                      /img/mob/home-page/trends/mob-home-cat2-card1@2x.png 2x
                    "
                    type="image/png"
                    media="(max-width: 833px)"
                  />
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-cat2-card1.png    1x,
                      /img/tab/home-page/trends/tab-home-cat2-card1@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 834px)"
                  />

                  <img
                    loading="lazy"
                    class="trends-picture-list-item-image"
                    src="/img/mob/home-page/trends/mob-home-cat2-card1.png"
                    alt="cat"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link"
                href="./nft-page.html#more-from-artist"
              >
                <picture>
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-bear3-card1.webp    1x,
                      /img/mob/home-page/trends/mob-home-bear3-card1@2x.webp 2x
                    "
                    type="image/webp"
                    media="(max-width: 833px)"
                  />

                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-bear3-card1.webp    1x,
                      /img/tab/home-page/trends/tab-home-bear3-card1@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 834px)"
                  />
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-bear-card1.png     1x,
                      /img/mob/home-page/trends/mob-home-bear3-card1@2x.png 2x
                    "
                    type="image/png"
                    media="(max-width: 833px)"
                  />
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-bear3-card1.png    1x,
                      /img/tab/home-page/trends/tab-home-bear3-card1@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 834px)"
                  />

                  <img
                    loading="lazy"
                    class="trends-picture-list-item-image"
                    src="/img/mob/home-page/trends/mob-home-bear-card1.png"
                    alt="bear"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link trends-link-to-library"
                href="./nft-page.html#more-from-artist"
                >1025+</a
              >
            </li>
          </ul>
          <p class="trends-undertitle">DSGN Animals</p>
          <a href="./artist-page.html#created">
            <div class="trends-container-user">
              <picture>
                <source
                  Avatar-Placeholder-6.png
                  srcset="
                    /img/pc/ranking-page/Avatar-Placeholder-6.webp    1x,
                    /img/pc/ranking-page/Avatar-Placeholder-2x-6.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /img/pc/ranking-page/Avatar-Placeholder-6.png    1x,
                    /img/pc/ranking-page/Avatar-Placeholder-2x-6.png 2x
                  "
                  type="image/png"
                />
                <img
                  loading="lazy"
                  class="trends-user-image"
                  src="/img/pc/ranking-page/Avatar-Placeholder-6.png"
                  alt="MrFox"
                  width="24"
                  height="24"
                />
              </picture>
              <p class="trends-user-name">MrFox</p>
            </div>
          </a>
        </div>
      </li>
      <li class="trends-card-list-item trends-tab-display">
        <div class="trends-container-card">
          <ul class="trends-picture-list">
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link"
                href="./nft-page.html#more-from-artist"
              >
                <picture>
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum1-card2.webp    1x,
                      /img/tab/home-page/trends/tab-home-mashrum1-card2@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 834px)"
                  />
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum1-card2.png    1x,
                      /img/tab/home-page/trends/tab-home-mashrum1-card2@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 834px)"
                  />

                  <img
                    loading="lazy"
                    class="trends-picture-list-item-image"
                    src="/img/tab/home-page/trends/tab-home-mashrum1-card2.png"
                    alt="mashrum"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link"
                href="./nft-page.html#more-from-artist"
              >
                <picture>
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum2-card2.webp    1x,
                      /img/tab/home-page/trends/tab-home-mashrum2-card2@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 834px)"
                  />
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum2-card2.png    1x,
                      /img/tab/home-page/trends/tab-home-mashrum2-card2@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 834px)"
                  />
                  <img
                    loading="lazy"
                    class="trends-picture-list-item-image"
                    src="/img/tab/home-page/trends/tab-home-mashrum2-card2.png"
                    alt="mashrum"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link"
                href="./nft-page.html#more-from-artist"
              >
                <picture>
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum3-card2.webp    1x,
                      /img/tab/home-page/trends/tab-home-mashrum3-card2@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 834px)"
                  />
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum3-card2.png    1x,
                      /img/tab/home-page/trends/tab-home-mashrum3-card2@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 834px)"
                  />
                  <img
                    loading="lazy"
                    class="trends-picture-list-item-image"
                    src="/img/tab/home-page/trends/tab-home-mashrum3-card2.png"
                    alt="mashrum"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link trends-link-to-library"
                href="./nft-page.html#more-from-artist"
                >1025+</a
              >
            </li>
          </ul>
          <p class="trends-undertitle">Magic Mushrooms</p>
          <a href="./artist-page.html#created">
            <div class="trends-container-user trends-tab-display">
              <picture>
                <source
                  srcset="
                    /img/pc/ranking-page/Avatar-Placeholder-7.webp    1x,
                    /img/pc/ranking-page/Avatar-Placeholder-2x-7.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 834px)"
                />
                <source
                  srcset="
                    /img/pc/ranking-page/Avatar-Placeholder-7.png    1x,
                    /img/pc/ranking-page/Avatar-Placeholder-2x-7.png 2x
                  "
                  type="image/png"
                  media="(min-width: 834px)"
                />
                <img
                  loading="lazy"
                  class="trends-user-image"
                  src="/img/pc/ranking-page/Avatar-Placeholder-7.png"
                  alt="Shroomie"
                  width="24"
                  height="24"
                />
              </picture>

              <p class="trends-user-name">Shroomie</p>
            </div>
          </a>
        </div>
      </li>
      <li class="trends-card-list-item trends-pc-display">
        <div class="trends-container-card">
          <ul class="trends-picture-list">
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link"
                href="./nft-page.html#more-from-artist"
              >
                <picture>
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot1-card3.webp    1x,
                      /img/pc/home-page/trends/pc-home-bot1-card3@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot1-card3.png    1x,
                      /img/pc/home-page/trends/pc-home-bot1-card3@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 1280px)"
                  />
                  <img
                    loading="lazy"
                    class="trends-picture-list-item-image"
                    src="/img/pc/home-page/trends/pc-home-bot1-card3.png"
                    alt="robot"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link"
                href="./nft-page.html#more-from-artist"
              >
                <picture>
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot2-card3.webp    1x,
                      /img/pc/home-page/trends/pc-home-bot2-card3@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot2-card3.png    1x,
                      /img/pc/home-page/trends/pc-home-bot2-card3@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 1280px)"
                  />
                  <img
                    loading="lazy"
                    class="trends-picture-list-item-image"
                    src="/img/pc/home-page/trends/pc-home-bot2-card3.png"
                    alt="robot"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link"
                href="./nft-page.html#more-from-artist"
              >
                <picture>
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot3-card3.webp    1x,
                      /img/pc/home-page/trends/pc-home-bot3-card3@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot3-card3.png    1x,
                      /img/pc/home-page/trends/pc-home-bot3-card3@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 1280px)"
                  />
                  <img
                    loading="lazy"
                    class="trends-picture-list-item-image"
                    src="/img/pc/home-page/trends/pc-home-bot3-card3.png"
                    alt="robot"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link trends-link-to-library"
                href="./nft-page.html#more-from-artist"
                >1025+</a
              >
            </li>
          </ul>

          <p class="trends-undertitle">Disco Machines</p>
          <a class="trends-user-link" href="./artist-page.html#created">
            <div class="trends-container-user trends-pc-display">
              <picture>
                <source
                  srcset="
                    /img/pc/ranking-page/Avatar-Placeholder-12.webp    1x,
                    /img/pc/ranking-page/Avatar-Placeholder-2x-12.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /img/pc/ranking-page/Avatar-Placeholder-12.png    1x,
                    /img/pc/ranking-page/Avatar-Placeholder-2x-12.png 2x
                  "
                  type="image/png"
                  media="(min-width: 1280px)"
                />
                <img
                  loading="lazy"
                  class="trends-user-image"
                  src="/img/pc/ranking-page/Avatar-Placeholder-12.png"
                  alt="BeKind2Robots"
                  width="24"
                  height="24"
                />
              </picture>
              <p class="trends-user-name">BeKind2Robots</p>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
